.topo {
    background-color: #b3dbff;
    min-height: 64px;
}

.topo ul {
    margin: 0;
}

.section nav {
    background-color: #EDEDED;
    padding: 2rem;
}

.rodape {
    background-color: #454545;
    padding: 2rem;
    position: fixed;
    margin: 0;
    bottom: 0;
}

@media (min-width: 576px) {
    .section {
        height: calc(100vh - 300px);
        overflow: auto;
    }
    .rodape {
        min-height: 236px;
    }
}

.link_1{
    color: black;
}

.link_2{
    color: white;
}

[class^=link]:hover{
    text-decoration: none;
}

.link_menu:hover{
    font-size: 20px;
}

.evento{
    cursor: pointer;
}

.texto-contorno{
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #000;
}

.scroll-bg-cultos{
    width: 100%;
}

.scroll-div-cultos{
    height: 100%;
    margin: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-bg-testemunhos{
    width: 100%;
}

.scroll-div-testemunhos{
    height: 100%;
    margin: 10px;
    overflow: hidden;
    overflow-y: scroll;
}